<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyw.webSite.mapper.DynamicTableMapper">

<!--  查询  -->
    <select id="query" parameterType="com.hyw.webSite.dto.DynamicTableDto" resultType="java.util.Map">
        select
        <choose>
            <when test="ew.selectFields != null and ew.selectFields != ''">
                ${ew.selectFields}
            </when>
            <otherwise>
                *
            </otherwise>
        </choose>
        from ${ew.tableName}
        <if test="ew.selectWhere != null and ew.selectWhere != ''">
            WHERE ${ew.selectWhere}
        </if>

        <if test="ew.selectGroupby != null and ew.selectGroupby !=''">
            GROUP BY ${ew.selectGroupby}
        </if>

        <if test="ew.selectOrderby != null and ew.selectOrderby !=''">
            ORDER BY ${ew.selectOrderby}
        </if>

        <if test="ew.limitBegNum != null and ew.limitBegNum >=0 and ew.limitCountNum !=null and ew.limitCountNum >0 ">
            LIMIT ${ew.limitBegNum},${ew.limitCountNum}
        </if>

    </select>

<!--    -->
    <select id="selectAll" parameterType="com.hyw.webSite.dto.DynamicTableDto" resultType="java.util.Map">
        select ${ew.selectFields}
        from ${ew.tableName}
        <if test="ew.selectWhere != null and ew.selectWhere != ''">
            WHERE ${ew.selectWhere}
        </if>

        <if test="ew.selectGroupby != null and ew.selectGroupby !=''">
            GROUP BY ${ew.selectGroupby}
        </if>

        <if test="ew.selectOrderby != null and ew.selectOrderby !=''">
            ORDER BY ${ew.selectOrderby}
        </if>

    </select>

    <insert id="insert" parameterType="com.hyw.webSite.dto.DynamicTableDto">
        insert into ${tableName} ( ${fieldNames} ) VALUES ( ${fieldValues} )
    </insert>

    <update id="update" parameterType="com.hyw.webSite.dto.DynamicTableDto">
        update ${ew.tableName}
        <foreach collection="ew.fieldValueMap.entrySet()" index="field" item="value" open="SET " separator=",">
            ${field}=${value}
        </foreach>
        <if test="ew.selectWhere != null and ew.selectWhere != ''">
            WHERE ${ew.selectWhere}
        </if>
        <if test="ew.whereFieldValueMap != null">
            <foreach collection="ew.whereFieldValueMap.entrySet()" index="field" item="value" open="WHERE" separator="AND" close="">
                <trim>${field}</trim> = <trim>'${value}'</trim>
            </foreach>
        </if>
    </update>

    <delete id="delete" parameterType="com.hyw.webSite.dto.DynamicTableDto">
        delete from ${ew.tableName}
        <if test="ew.selectWhere != null and ew.selectWhere != ''">
            WHERE ${ew.selectWhere}
        </if>
        <if test="ew.fieldValueMap != null">
            <foreach collection="ew.fieldValueMap.entrySet()" index="field" item="value" open="WHERE" separator="AND" close="">
                <trim>${field}</trim> = <trim>'${value}'</trim>
            </foreach>
        </if>
    </delete>

</mapper>